@namespace MediaEngine.Web.Components.MediaTiles

<div class="media-tile-grid @Class">
    @foreach (var item in Items)
    {
        @if (item.UseLandscapeGroupTile)
        {
            <MediaGroupTile Item="@item"
                            HoverMode="@HoverMode"
                            @key="item.Id" />
        }
        else
        {
            <MediaTile Item="@item"
                       HoverMode="@HoverMode"
                       HideMediaKindBadge="@HideMediaKindBadges"
                       HideSourceBadge="@HideSourceBadges"
                       @key="item.Id" />
        }
    }
</div>

@code {
    [Parameter, EditorRequired] public IReadOnlyList<MediaTileViewModel> Items { get; set; } = [];
    [Parameter] public MediaTileHoverMode? HoverMode { get; set; } = MediaTileHoverMode.GlowOnly;
    [Parameter] public bool HideMediaKindBadges { get; set; }
    [Parameter] public bool HideSourceBadges { get; set; }
    [Parameter] public string? Class { get; set; }
}
